section {color: white; font-family: 'Noah Regular';}
header {padding: 10px 20px; background: #666; color: white; font-family: 'Geologica Regular';}
h1 {color: white; font-family: 'Geologica Regular'; font-size: 36px; text-align: center;}
h2 {color: white; font-family: 'Geologica Regular'; font-size: 24px; text-align: center;}
body {background-color: black;}
footer {padding: 10px 20px; background: #666; color: white;}
p {margin-left: auto; margin-right: auto; text-align: center; width: 40em}
p.center {text-align: center;}
p.footer {text-align: left; width: 100%}
p.header {text-align: center; font-size: 30px; width: 100%}
img {height: 400px; width: auto;}